<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>PAW... unleash your dog.</title>
        <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
        <meta name="description" content="PAW is a Slack-integrated tracking system for dogs in the workplace. It allows owners to effortlessly keep tabs of their pets without needing to have them tethered to a desk all day.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Facebook Open Graph Tags #}
        <meta property="og:title" content="PAW... unleash your dog.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://paw.isl.co/">
        <meta property="og:image" content="https://paw.isl.co/img/isl-paw-share.jpg">
        <meta property="og:description" content="PAW — puppies at work — is a Slack-integrated tracking system that keeps tabs of dogs in the workplace.">

        {# Twitter Summary Card with Large Image tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@istrategylabs">
        <meta name="twitter:creator" content="@istrategylabs">
        <meta name="twitter:title" content="PAW... unleash your dog.">
        <meta name="twitter:description" content="PAW — puppies at work — is a Slack-integrated tracking system that keeps tabs of dogs in the workplace.">
        <meta name="twitter:image" content="https://paw.isl.co/img/isl-paw-share.jpg">

        <script src="/bundle.js" onload="clientInit()" async defer></script>
        <script src="https://apis.google.com/js/platform.js?onload=onGAPILoadCallback" async defer></script>
    </head>
    <body>

        {% block content %}
        {% endblock %}

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "WebApplication",
                "name": "PAW",
                "description": "PAW is a Slack-integrated tracking system for dogs in the workplace. It allows owners to effortlessly keep tabs of their pets without needing to have them tethered to a desk all day.",
                "url": "https://paw.isl.co",
                "image": "https://paw.isl.co/favicon-152.png",
                "sameAs": [
                    "https://twitter.com/istrategylabs",
                    "https://www.facebook.com/istrategylabs",
                    "https://www.instagram.com/istrategylabs/",
                    "https://www.linkedin.com/company/istrategylabs/"
                ]
            }
        </script>
    </body>
</html>
